.container{
  height:400px;
  width:700px;
  background-color: rgb(209, 196, 196);
  position: absolute;
  left: 280px;
  bottom: 70px;
  border-radius: 2cap;
}

#h1{
  color:whitesmoke;
  margin-left:40px;
  font-family: fantasy;
  font-weight:normal;
}

.in1{
  width:75%;
  margin:2%;
  margin-left: 5%;
  padding:15px;
  border-radius: 1cap;
}

.btn{
  background-color: rgb(18, 170, 236);
  padding:5px;
  width:10%;
  border-radius: 1cap;
}

li{
  background-color: chocolate;
  color:black;
  margin-left:10px;
  margin-bottom: 20px;
  margin-right: 10%;
  padding:10px 20px 10px 20px;
  border-radius:1cap;

}
.li{
  display: flex;
}
.li .lit{
  flex:1;
}
.lit .icons{
  padding-left:5px;
  font-size:20px;
  cursor: pointer;
}
#edit{
  color:white;
}

#del{
  color: red;
}
#done{
  color: green;
}
#lt{
  text-decoration: line-through;
  opacity:0.5;
}